.git
.github
.next
node_modules
coverage
test
docs
.env*
!.env.example
deploy/.env.production
deploy/secrets
docker/mosquitto/data
docker/mosquitto/certs
docker/mosquitto/secrets
*.log
*.pem
*.key
*.crt
*.p12
